<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
   <header>
        <img src="/img/logo-mercado-liebre.svg" alt="logo" class="logo">

    <div>
        <input type="text" placeholder="Buscar productos, marcas">
        <div>
            <i class="fa fa-search"></i>
        </div>
    </div>
    
   <div>
    <i class="fa solid fa-hand-holding-dollar"></i>
    Comprá en cuotas y sin tarjeta de crédito
</div> 
 <nav>
        <ul type="none">
            <li><a href="#"class="decoration">Ofertas</a>
            </li>
            <li><a href="#"class="decoration">Tiendas Oficiales</a>
            </li>
            <li><a href="#"class="decoration">Vender</a>
            </li>
            <li><a href="#"class="decoration">Ayuda</a>
            </li>
        </ul>
        <ul type="none">
            <li>
                <nav>
                <a href="regiter.html"class="decoration">Crea tu cuenta</a>
                <i class="fa-regular fa-address-card"></i>
            </li>
            <li><a href="login.html"class="decoration">Ingresa</a>
                <i class="fa solid fa-right-to-bracket"></i>
             </nav>
            </li>
            <li><a href="#"class="decoration">Mis compras</a>
                <i class="fa solid fa-basket-shopping"></i>
            </li>
        </ul>
     </nav>
     <div class="burger-menu">
        <div class="hamburguesa">
            <i class="fas fa-bars"></i>
        </div>
        
    </div>
   </header>
   <main>
    <div>
    <img src="/img/img-home-banner.jpg" alt="imagen-home">


        <h2 class="tamaño-grande">Basado en tu ultima visita</h2>
    
    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" class="imagenes">
    <article>
    <i class="fa-solid fa-truck iconos"></i>
    <p class="precios">$6.770</p>
    <p class="descuentos">40% off</p>
    <p class="descripciones">Cafetera Moulinex</p>
    </article>

   
    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook" class="imagenes">
    <article>
    <i class="fa-solid fa-truck iconos"></i>
    <p class="precios">$230.000</p>
    <p class="descuentos">20% off</p>
    <p class="descripciones">Mac Book Pro 2019</p>
</article>

    
    <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung-cel" class="imagenes">
    <article>
    <i class="fa-solid fa-truck iconos"></i>
    <p class="precios">$70.500</p>
    <p class="descuentos">10% off</p>
    <p class="descripciones">Samsung Galaxy S10</p>
</article>
 
   
    <img src="/img/img-tv-samsung-smart.jpg" alt="samsung-smart" class="imagenes">
    <article>
    <i class="fa-solid fa-truck iconos"></i>
    <p class="precios">$23.200</p>
    <p class="descuentos">5% off</p>
    <p class="descripciones">SmartTv Samsung 43"</p>
</article>
</div>
<div>
    <h2 class="tamaño-grande">Ofertas</h2>
    
    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" class="imagenes">
    <article>
    <i class="fa-solid fa-truck iconos"></i>
    <p class="precios">$6.770</p>
    <p class="descuentos">40% off</p>
    <p class="descripciones">Cafetera Moulinex</p>
</article>

    
    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook" class="imagenes">
    <article>
    <i class="fa-solid fa-truck iconos"></i>
    <p class="precios">$230.000</p>
    <p class="descuentos">20% off</p>
    <p class="descripciones">Mac Book Pro 2019</p>
</article>

    
    <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung-cel" class="imagenes">
    <article>
    <i class="fa-solid fa-truck iconos"></i>
    <p class="precios">$70.500</p>
    <p class="descuentos">10% off</p>
    <p class="descripciones">Samsung Galaxy S10</p>
</article>

    
    <img src="/img/img-tv-samsung-smart.jpg" alt="samsung-smart" class="imagenes">
    <article>
    <i class="fa-solid fa-truck iconos"></i>
    <p class="precios">$23.200</p>
    <p class="descuentos">5% off</p>
    <p class="descripciones">SmartTv Samsung 43"</p>
</article>

</div>
  </main>
   <footer>
    <div>
        <i class="fa-solid fa-credit-card"></i>
    </div>
    <h3 class="interlineado-footer">Paga con tarjeta o en efectivo</h3>
    <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!.</p>
    <div><i class="fa-solid fa-gift"></i>
    </div>
    <h3 class="interlineado-footer">Envio gratis desde los $2500</h3>
    <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    <div>
        <i class="fa-solid fa-user-shield"></i>
    </div>
    <h3 class="interlineado-footer">Seguridad de principio a fin</h3>
    <p>¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
   <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</footer>



</body>
</html>